<div class = "sidebar">
    <div class = "sidebar-header">Navigation</div>
    <ul class = "sidebar-list">
        <li class = "sidebar-content">
            <a href="">
                <div class = "item-media"><i class ="fa fa-lg fa-fw fa-home"></i></div>
                <div class ="item-label">Item 1</div>
            </a>
        </li>
        <li class = "sidebar-content">
            <a href="">
                <div class = "item-media"><i class ="fa fa-lg fa-fw fa-home"></i></div>
                <div class ="item-label">Item 2</div>
            </a>
        </li>
        <li class = "sidebar-content">
            <a href="">
                <div class = "item-media"><i class ="fa fa-lg fa-fw fa-home"></i></div>
                <div class ="item-label">Item 3</div>
            </a>
        </li>
        <li class = "sidebar-content">
            <a href="">
                <div class = "item-media"><i class ="fa fa-lg fa-fw fa-home"></i></div>
                <div class ="item-label">Item 4</div>
            </a>
        </li>
        <li class = "sidebar-content">
            <a href="">
                <div class = "item-media"><i class ="fa fa-lg fa-fw fa-home"></i></div>
                <div class ="item-label">Item 5</div>
            </a>
        </li>
    </ul>
</div>